header {
    background-color: aqua;

}

#raoul-profile {
    max-height: 100px;
    border-radius: 50%;
}

.resume {
    
}

h1 {
    font-size: 22pt;
}

h3 {
    font-size: 16pt;
}

p {
    font-size: 12pt;
}

footer {
    text-align: center;
    background-color: darkgrey;
}